/src/components/generated/
/node_modules
/jestSetup
dest
android
ios
acceptance-tests
.jest
src/setupTests.ts
./node_modules/**/*
index.js
build
.coverage
native-assets
jest
./src/components/generated/*
Swiper.js
babel.config.js
metro.config.js
/docs
/config
/scripts/build.js
/scripts/start.js
/scripts/test.js
/src/react-app-env.d.ts   
