<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850492974513-4k24p03o3r1tvjn0o3p05kppusaefnl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850492974513-4k24p03o3r1tvjn0o3p05kppusaefnl7</string>
	<key>API_KEY</key>
	<string>AIzaSyCf5XyDIsvS9gRMUPCYSnnhQcR8LoJ4oQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>850492974513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.secretlab.ketocoachx</string>
	<key>PROJECT_ID</key>
	<string>fastcoach-fc</string>
	<key>STORAGE_BUCKET</key>
	<string>fastcoach-fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850492974513:ios:7611afb760a0420a0a0990</string>
	<key>DATABASE_URL</key>
	<string>https://fastcoach-fc.firebaseio.com</string>
</dict>
</plist>